<div class="p-[20px] flex gap-[15px] border-solid border-b-[1px] border-color-border-light flex-wrap">
  <a href="/login"
    class="text-color-button border-solid border-[1px] border-color-button px-[10px] py-[3px] rounded block">{{buttons.Auth}}</a>
  <a href="/register"
    class="bg-color-button text-color-light px-[10px] py-[3px] rounded block transition hover:bg-color-dropdown-menu-btn-hover">{{buttons.Registration}}</a>
</div>
<button
  class="pl-[20px] py-[15px]  hover:bg-[#edf5f9] w-full my-[12px] transition flex gap-[8px] items-center settings">
  <span class="ico ico_settings"></span>
  <span class="text-color-text-light">{{buttons.Settings}}</span>
</button>