<div class="p-[20px] flex gap-[15px] border-solid border-b-[1px] border-[#eaeaea]">
  <a href="/login"
    class="text-[#548eaa] border-solid border-[1px] border-[#548eaa] px-[10px] py-[3px] rounded block">{{buttons.Auth}}</a>
  <a href="/register"
    class="bg-[#548eaa] text-white px-[10px] py-[3px] rounded block transition hover:bg-[#76a5bb]">{{buttons.Registration}}</a>
</div>
<button
  class="pl-[20px] py-[15px]  hover:bg-[#edf5f9] w-full my-[12px] transition flex gap-[8px] items-center settings">
  <span class="ico ico_settings"></span>
  <span class="text-[#909090]">{{buttons.Settings}}</span>
</button>
