<div class="m-auto max-w-[1200px] flex py-[30px] place-content-between items-center">
  <p class="text-white select-none">© 2023</p>
  <a class="cursor-pointer" href="https://rs.school/js/">
    <span class="ico ico_rs">
  </a>
  <div class="flex gap-1">
    <a class="hover:text-[#5096b1] transition text-white" href="https://github.com/KuniLee">KuniLee</a><span
      class="text-white">&</span>
    <a class="hover:text-[#5096b1] transition text-white" href="https://github.com/GodPFM">GodPFM</a><span
      class="text-white">&</span>
    <a class="hover:text-[#5096b1] transition text-white" href="https://github.com/4k1r1n">4k1r1n</a>
  </div>
</div>