<div class="m-auto container px-4 flex py-7 place-content-between items-center flex-wrap gap-x-10 gap-y-3">
  <a class="cursor-pointer" href="https://rs.school/js/">
    <span class="ico ico_rs">
  </a>
  <div class="flex gap-5">
    <div class="flex gap-1">
      <a class="hover:text-color-link-hover transition text-color-light" href="https://github.com/KuniLee">KuniLee</a>
      <span class="text-color-light">&</span>
      <a class="hover:text-color-link-hover transition text-color-light" href="https://github.com/GodPFM">GodPFM</a>
      <span class="text-color-light">&</span>
      <a class="hover:text-color-link-hover transition text-color-light" href="https://github.com/4k1r1n">4k1r1n</a>
    </div>
    <p class="text-color-light select-none">© 2023</p>
  </div>
</div>