<header>
  <div class="max-w-[1200px] mx-auto">
    <a class='header__logo' href="/">Habr</a>
  </div>
  <nav class="bg-cyan-200 flex">
    {{#each flows}}
      <a href="{{this.link}}">{{this.name}}</a>
    {{/each}}
  </nav>
</header>
