<button class="mx-auto py-2 px-5 text-sm text-sky-900 focus:outline-none bg-white
 rounded-lg border border-sky-700 hover:border-sky-400 hover:bg-sky-200
  hover:border-sky-100 focus:z-10 focus:ring-4 focus:ring-sky-200">{{words.loadMore}}</button>