<div class="max-w-[1200px] mx-auto">
  <div class="mt-[80px] max-w-[420px] mx-auto">
    <div class="w-full bg-white shadow-lg shadow-black/10 p-[40px]">
      <h2 class="text-[#333] text-[22px] leading-7 font-bold">Регистрация</h2>
      <form>
        <fieldset>
          <div class="flex flex-col pt-[57px]">
            <label class="w-full text-[#333] text-[14px] leading-7 font-bold mb-[12px]" for="email">E-mail</label>
            <input class="email-input w-full h-[40px] bg-white border border-[#dbdbdb] text-[14px] py-0 px-[14px] box-border outline-0"
                   type="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
            <ul class="email-error mt-[10px]" hidden>
              <li class="text-red-600 text-center">Некорректный email</li>
              <li class="email-error__exist text-red-600 text-center" hidden>Email уже существует</li>
            </ul>
          </div>
          <div class="flex flex-col mt-[15px]">
            <label class="w-full text-[#333] text-[14px] leading-7 font-bold mb-[12px]" for="text">Никнейм</label>
            <input class="nickname-input w-full h-[40px] bg-white border border-[#dbdbdb] text-[14px] py-0 px-[14px] box-border outline-0" type="text" required>
            <ul class="nick-error mt-[10px]" hidden>
              <li class="text-red-600 text-center">Длина должна быть >4</li>
            </ul>
          </div>
          <div class="flex flex-col mt-[31px]">
            <label class="w-full text-[#333] text-[14px] leading-7 font-bold mb-[12px]" for="password">Пароль</label>
            <input class="password-input w-full h-[40px] bg-white border border-[#dbdbdb] text-[14px] py-0 px-[14px] box-border outline-0" type="password" id="password">
            <ul class="password-error mt-[10px]" hidden>
              <li class="password-error__lower text-red-600 text-center">Как минимум 1 строчная буква</li>
              <li class="password-error__upper text-red-600 text-center">Как минимум 1 заглавная буква</li>
              <li class="password-error__digit text-red-600 text-center">Как минимум 1 цифра</li>
              <li class="password-error__spec text-red-600 text-center">Как минимум 1 специальный символ</li>
              <li class="password-error__length text-red-600 text-center">Длина от 8 до 16 символов</li>
            </ul>
          </div>
          <div class="flex flex-col mt-[31px]">
            <label class="w-full text-[#333] text-[14px] leading-7 font-bold mb-[12px]" for="password">Пароль еще раз</label>
            <input class="password-repeat-input w-full h-[40px] bg-white border border-[#dbdbdb] text-[14px] py-0 px-[14px] box-border outline-0" type="password" id="password-repeat">
          </div>
          <div class="g-recaptcha mt-[31px]" id="captcha1"></div>
          <ul class="captcha-error mt-[10px]" hidden>
            <li class="text-red-600 text-center">Пройдите проверку</li>
          </ul>
          <div class="mt-[21px]">
            <button type="submit" class="registrationCompleteBtn bg-[#558cb7] w-full text-white h-[48px] hover:bg-[#376f9a]">Зарегистрироваться</button>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="w-full bg-white shadow-lg shadow-black/10 py-[15px] mt-[16px] text-center">
      <span>Уже зарегистрированы? <a href="/auth.html" class="signIn text-[#558cb7]">Войдите</a></span>
    </div>
  </div>
</div>
