<button class="{{class}} menuElement py-[10px] pl-[20px] w-full text-left hover:bg-[rgba] text-[13px] hover:bg-color-gray-light transition" data-type="{{type}}">
  <img class="w-[24px] h-[24px] inline mr-4" src="{{svg}}" alt="">
  <span>{{blockName}}</span>
</button>
