<button class="{{class}} py-[10px] hover:bg-[rgba] w-full text-[13px] hover:bg-color-gray-light transition" data-type="{{type}}">
  <img class="w-[24px] h-[24px] inline" src="{{svg}}" alt="">
  <span>{{blockName}}</span>
</button>
