<div class="max-w-[1200px] mx-auto flex justify-between mt-[12px]">
  <div class="w-[780px] min-h-[640px] bg-white p-[20px]">
    <div class="flex">
      <img class="mr-[10px]" src="" alt="">
      <p class="mr-[10px]">Name</p>
      <p class="mr-[10px]">Никогда не публиковалось</p>
    </div>
    <div class="relative">
      <div class="menu absolute w-[200px] bg-gray-500" hidden>
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </div>
      <div class="before:content-[attr(data-is-empty)] before:absolute before:text-[#c0c0c0] before:pointer-events-none text-2xl" data-is-empty="Заголовок">
        <h1 contenteditable="true" class="editable outline-0"></h1>
      </div>
    </div>
  </div>
  <div class="w-[300px]">
    <p>test2</p>
  </div>
</div>
