<div class="textElement before:content-[attr(data-is-empty)] before:absolute before:text-[#c0c0c0] before:pointer-events-none text-xl new" data-is-empty="Нажмите '/' для вызова меню">
  <p contenteditable="true" class="editable outline-0 whitespace-pre-wrap"></p>
</div>
