<div class="max-w-[1200px] mx-auto flex justify-between mt-[12px]">
  <div class="w-[780px] min-h-[640px] bg-color-light p-[20px]">
    <div class="flex">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-[10px]">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
      </svg>
      <p class="mr-[10px]">Name</p>
      <p class="mr-[10px]">Никогда не публиковалось</p>
    </div>
    <div class="relative textEditor">
      <div class="menu absolute w-[200px] bg-gray-500" hidden>
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </div>
      <div class="before:content-[attr(data-is-empty)] before:absolute before:text-[#c0c0c0] before:pointer-events-none text-4xl mb-4" data-is-empty="Заголовок">
        <h1 contenteditable="true" class="editable outline-0 whitespace-pre-wrap text-4xl"></h1>
      </div>
    </div>
  </div>
  <div class="w-[300px] bg-color-light">
    <p>test2</p>
  </div>
</div>
