<div class="ml-auto flex comment__buttons gap-1">
  <span class="ico ico_edit opacity-50 hover:opacity-100 transition w-5 h-5"></span>
  <span class="ico ico_close opacity-50 hover:opacity-100 transition w-5 h-5"></span>
</div>