<div
  class="paragraph new relative outline-0 pl-9 mt-3 leading-5 min-h-[1.375em] before:content-[attr(data-empty-text)] before:absolute before:text-color-editor-placeholder before:pointer-events-none before:h-0"
  data-empty-text="{{words.CommentPlaceholder}}">
  <p contenteditable="true" class="editable outline-0 whitespace-pre-wrap flex-grow max-w-[96.6%]"></p>
  <span class="ico ico_plus"></span>
</div>