<div
  class="paragraph new relative outline-0 pl-4 mt-3 leading-5 min-h-[1.375em] before:content-[attr(data-empty-text)] before:absolute before:text-color-editor-placeholder before:pointer-events-none before:h-0"
  data-empty-text="{{words.TypeSomething}}">
  <p contenteditable="true" class="editable outline-0 whitespace-pre-wrap flex-grow max-w-full"></p>
</div>