{{#each content}}
<div class="paragraph outline-0 px-4 mt-3 leading-5 min-h-[1.375em]">
  <p contenteditable="true" class="editable outline-0 whitespace-pre-wrap flex-grow max-w-full">{{this}}</p>
</div>
{{/each}}