<div class="edit-comment-form">
  <div class="edit-comment-content outline-0 min-h-[5rem] relative bg-color-light mb-5"></div>
  <div class="flex gap-2">
    <button
      class="edit-comment-form__button_save edit-comment-form__button transition hover:bg-color-link-hover bg-color-button text-color-light rounded px-3 text-xs leading-8 ">{{words.SaveButton}}</button>
    <button
      class="edit-comment-form__button_cancel edit-comment-form__button transition hover:bg-color-link-hover bg-color-button text-color-light rounded px-3 text-xs leading-8 ">{{words.CancelButton}}</button>
  </div>
</div>