.ico_user {
  background: url(../assets/icons/ico-user.svg) center no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
}

.ico_search {
  background: url(../assets/icons/ico-search.svg) center no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
}

.ico_user-light {
  background: url(../assets/icons/ico-user1.svg) center no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
}

.ico_search-light {
  background: url(../assets/icons/ico-search1.svg) center no-repeat;
  background-size: contain;
}

.ico_settings {
  background: url(../assets/icons/ico-settings.svg) center no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.ico_close {
  background: url(../assets/icons/ico-cross.svg) center no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
}

.ico_rs {
  background: url(../assets/icons/ico-rs.svg) center no-repeat;
  background-size: contain;
  width: 60px;
  height: 30px;
}

.drop-down-menu {
  position: absolute;
  right: calc(100% - 95%);
  color: #303b44;
  background-color: #ffffff;
  box-shadow: 0 0 12px rgb(0 0 0 / 16%);
}

@media (max-width:768px) {
  .drop-down-menu {
    height: 100vh;
    top: 0;
    right: 0;
  }
}

.popup {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.input-radio:checked+.input-radio-fake {
  border: 5px solid #548eaa;
}

.sidebar {
  z-index: 10;
  position: absolute;
  display: block;
  height: 100vh;
  top: 0;
  width: 72%;
  max-width: 300px;
  padding: 0 16px;
}

.article_hab:not(:last-child)::after{
  content: ', ';
}